@model BlogEngine.BusinessLogic.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Name" class="control-label"></label>
                <input asp-for="Author.Name" class="form-control" />
                <span asp-validation-for="Author.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PendingToApprove" class="control-label"></label>
                <input asp-for="PendingToApprove" class="form-control" />
                <span asp-validation-for="PendingToApprove" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approver.Name" class="control-label"></label>
                <input asp-for="Approver.Name" class="form-control" />
                <span asp-validation-for="Approver.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalDateTime" class="control-label"></label>
                <input asp-for="ApprovalDateTime" class="form-control" />
                <span asp-validation-for="ApprovalDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPublished" class="control-label"></label>
                <input asp-for="IsPublished" class="form-control" />
                <span asp-validation-for="IsPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated" class="form-control" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

