@model BlogEngine.BusinessLogic.Models.Post

@{
    ViewData["Title"] = "Edit";
}
<h5>Edit</h5>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AuthorId" />
            <input type="hidden" asp-for="ApproverId" />
            <input type="hidden" asp-for="ApprovalDateTime" />
            <input type="hidden" asp-for="IsPublished" />
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" rows="7"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author.Name" class="form-control" readonly />
                <span asp-validation-for="Author.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if ((Model.IsPublished == null || (Model.IsPublished != null && Model.IsPublished == false)) &&
                    (Model.PendingToApprove == null || (Model.PendingToApprove != null && Model.PendingToApprove == false)))
                {
                <input type="submit" name="command" value="Draft" class="btn btn-secondary" />
                }
                <input type="submit" name="command" value="Publish" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

